{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/agenda/add.css' %}">
    <link rel="stylesheet" href="{% static 'css/agenda/edit.css' %}">
{% endblock links %}

{% block content %}
    <div class="add-content">
        <div class="add-header">
            <h2>Edit Agenda - {{ agenda.id }}</h2>
        </div>
        <div class="add-form">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button id="submit" type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock content %}
