{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Django Store  
        {% endif %}
    </title>
    {% block links %}
    {% endblock links %}
</head>
<body>
  <li>
    <ul>
      <a href="{% url "products:home" %}">DJANGO STORE</a>
    </ul>
    <ul><a href={% url "products:home" %}>Home</a></ul>
    <ul><a href={% url "products:add" %}>Products</a></ul>
    <ul><a href={% url "sellers:add" %}>Sellers</a></ul>
    <ul><a href={% url "managers:add" %}>Managers</a></ul>
  </li>
  <div class="page-body">
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>