{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href={% static "sellers/sellers.css" %}>
{% endblock links %}

{% block content %}
    <h1 class="page-title">Managers Page</h1>
    <div class="sellers-page">
        <div class="sellers-table">
            <table border="2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date Joined</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for manager in managers %}
                        <tr>
                            <td>{{ manager.username }}</td>
                            <td>{{ manager.email }}</td>
                            <td>{{ manager.phone_number }}</td>
                            <td>{{ manager.date_joined }}</td>
                            <td>{{ manager.permissions }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="sellers_add">
            <div class="header">Add new Manager</div>
            <div class="add_form">
                <form method="post">
                    {% csrf_token %}
                    <div class="fields_part">
                        {% for field in form %}
                            <div class="form-group">
                                <div class="label">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </div>
                                <div class="field">
                                    {{ field }}
                                </div>
                                <div class="error-messages">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="submit_part">
                        <button type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}