<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Delete the Product</h2>
    <p>Are you sure you want to delete the product <b>{{ product.name }}</b></p>
    <form method="post"> 
        {% csrf_token %}
        {{ form }}
        <button type="submit">Confirm</button>
        <a href="{{ product.get_absolute_url }}">Cancel</a>
    </form>
</body>
</html>
