{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block links %}
    {% endblock links %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Agenda</title>
    {% endif %}
</head>
<body>
    <div class="navigation">
        {% include 'core/navbar.html' %}
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>